{% set page_title = "ログイン" %}
{% set page_description = "BRT ログインページ。" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}

    <div class="jumbotron bg-warning text-center d-none d-sm-block">
        <h2>ログイン</h2>
    </div>
    <div class="bg-warning py-3 text-center d-sm-none">
        <h2>ログイン</h2>
    </div>

    <div class="h3 text-center">
        <h3>メールアドレスとパスワードを入力し、ログインボタンを押してください。</h3>
    </div>
    
    {% if message!=null and message!="" %}
        <div class="alert-danger p-3">{{ message | nl2br}}</div>
	{% endif %}


    <form method="post" autocomplete="off">
        <div class="container py-5">
            <div class="row mb-3">
                <label class="col-12 col-sm-4 col-md-3" for="form_mail">メールアドレス</label>
                <input class ="col-12 col-sm-8 col-md-9" id="form_mail" type="text" name="mail" required autofocus>
            </div>
            <div class="row mb-3">
                <label class="col-12 col-sm-4 col-md-3" for="form_password">パスワード</label>
                <input class="col-12 col-sm-8 col-md-9" id="form_password" type="password" name="password" required>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-success" value="ログイン">
            <p class="my-3"><a href="{{ get_base_path() }}/entry">パスワードを忘れました。</a></p>
        </div>
    </form>

{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
