{% set page_title = "退会完了" %}
{% set page_description = "BRT - 退会完了通知メッセージ。" %}

{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}

    <div class="jumbotron bg-warning text-center d-none d-sm-block">
        <h2>退会完了</h2>
    </div>
    <div class="bg-warning py-3 text-center d-sm-none">
        <h2>退会完了</h2>
    </div>


    <div id="messageText"aria-live="assertive" role="alert">
        <div class="p-3">退会手続きが完了しました。ご利用、ありがとうございました。引き続き在学の方につきましては、チーム一同、またのご利用をお待ちしております。</div>
    </div>

    <div class="my-5 text-center">
        <a class="button btn-success text-white px-3 py-1" href="{{ get_base_path() }}/">トップページへ</a>
    </div>

{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
